<mat-toolbar color="primary">
  <div>
    <a
      href="https://github.com/KrishnaSatti/BurgissTechStackDemo.UI"
      style="text-decoration: none"
      target="_blank"
    >
      <button mat-raised-button style="font-size: large" color="accent">
        <mat-icon>code</mat-icon>
        GitHub Source Code
      </button>
    </a>
    <a routerLink="/employees" style="text-decoration: none">
      <button mat-raised-button style="font-size: large" color="accent">
        <mat-icon>person</mat-icon>
        Employees
      </button>
    </a>
    <a routerLink="/chart" style="text-decoration: none">
      <button mat-raised-button style="font-size: large" color="accent">
        <mat-icon>bar_chart</mat-icon>
        Department Costs
      </button>
    </a>
  </div>
</mat-toolbar>
