@font-face {
  font-family: "Inter";
  src: url("../assets/Inter-VariableFont_slnt,wght.ttf");
}

.itemlist {
  font-size: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
}
